body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.heading-container {
  height: 64px;
}
.heading-text {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}
.description {
  font-size: 10px;
  font-weight: 400;
  text-align: justify;
}

@media (max-width: 991px) {
  .heading-text {
    font-size: 12px;
  }
}
